<form action="<%= session_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<label>
    <input type="text" id="email" name="user[email]" value ="">
</label>

<label>
    <input type="password" id="password" name="user[password]" value = "">
</label>

<input type="submit" value="Log In">
</form>