<h1>THE BANDS</h1>

  <section class="bands">
    <% every_band.each do |band| %>
      <div class="bands-index-item">
        <div>
            <a href="<%= band_url(band)%>"> <%= band.name %></a>
        </div>
      </div>
    <% end %>
  </section>

